<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Mon Blog</title>
    <link type="text/css" rel="stylesheet" href="{{base_url}}webroot/css/style.css"/>
</head>

<body>

 	<header>

    	<h1>Mon Blog</h1>        

  	</header>