<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>My blog</title>
		<link rel="stylesheet" href="webroot/css/bootstrap.min.css">
		<link rel="stylesheet" href="webroot/css/mystyle.css">
		<script src="webroot/js/jquery.min.js"></script>
		<script src="webroot/js/app.js"></script>
	</head>
	<body class="container">
		<header class="row">
			<h1 class="pull-left"><a href="?c=posts">My blogansss</a></h1>
			<ul class="nav nav-pills pull-right">
				<li class="active"><a href="?c=posts">Home</a></li>
				<li><a href="?c=posts&a=manage_posts">Manage posts</a></li>
			</ul>
		</header>
		<div id="wrap" class="row">
			<hr/>
			{{content}}
		</div>
	</body>
</html>