<div class="clearfix" id="controls">
	<a href="?c=posts&a=add_post" class="btn btn-primary pull-right">Add a new post</a>
</div>
<div>
	<!--posts:START-->
	<div class="post well">
		<h3>{{posts:title}}</h3>
		<p class="text">{{posts:body}}</p>
		<a href="?c=posts&a=view_post&id={{posts:id}}" class="btn">View</a>
		<a href="?c=posts&a=edit_post&id={{posts:id}}" class="btn">Edit</a>
		<a href="?c=posts&a=delete_post&id={{posts:id}}" class="btn btn-danger">Delete</a>
	</div>
	<!--posts:END-->
</div>