<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>App</title>
	</head>

	<body id="index">

		<div id="content">

			<div id="login-notification">
		    <p>{{ message }}</p>
			</div>


			<form id="login-form" class="forms" action="signin" method="post">
			  <label>
			    Email
			    <input type="email" name="email" class="width-100" />
			  </label>
			  <label>
			    Password
			    <input type="password" name="password" class="width-100" />
			  </label>
			  <p class="group">
			    <span class="left"><a href="{{base_url}}app/lostpassword">Lost password ?</a></span>
					<input type="hidden" value="1" name="csrf">
			    <input id="login" type="submit" class="btn btn-blue btn-disabled right" value="Log me in">
			    <a href="{{base_url}}app/signup" class="right" style="padding-top: 2px;padding-right: 10px;">Sign up</a>
			  </p>
			</form>


		</div>

	</body>

</html>
